# Mac OS X
*.DS_Store
:
# Xcode

*.xcworkspacedata

*.xcsettings

*.xcscheme

*.pbxuser

*.mode1v3

*.mode2v3

*.perspectivev3

*.xcuserstate

*.build

project.xcworkspace/

xcuserdata/

project.xcworkspace

xcuserdata

UserInterfaceState.xcuserstate

UserInterface.xcuserstate





